.sidebar-group.is-sub-group > p.sidebar-heading:not(.clickable) {
  opacity: 1.0;
}

img.centered {
  display: block;
  margin: 0 auto;
}

img.media-image {
  display: block;
  max-height: 173px;
  margin: 1em auto;
  border: solid 1px gray;
}

@media only screen and (min-width: 600px) {
  div.media {
    display: flex;
  }

  img.media-image {
    margin: 1em 1em 1em 0;
  }

  p.media-description {
    flex: 1;
  }
}
